

.custom-navbar {
  background-color: rgba(0,0,0,0.66);
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
  height: 50px;
  border-bottom: 0px;
  transition: background-color .5s ease 0s;
}

.custom-navbar.opaque {
 /* background-color: black;*/
 height: 50px;
 transition: background-color .5s ease 0s;
}

.banner {
  /*  background: url(startup.jpg) no-repeat;*/
  /*background-attachment: fixed;*/
  min-height: 600px;
  position: relative;
  overflow: hidden;
  /****************************************************
  * set the backround image to 100% width of the screen
  *****************************************************/
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.banner h1,
.banner p {
  color: #f3efef;
  font-size: 15px;
}

.banner .row {
  margin-top: 150px;
}

body{
 background: $page-bg;
 font-family: 'quicksand', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

/*call me back button*/
.btn-medium {
  margin-left: 250px
  color: white;
  padding: 15px 25px;
  border-radius: 4px;
  background: #080808;
  transition: background 0.3s ease;
}
a {
  text-decoration: none;
}

#call-li-1 {
  position: absolute;
  right: -480px;
}
#call-li-2 {
  position: absolute;
  right: 134px;
  color: white;
  top: 16px;
}

/*grid*/
.no-padding {
  padding: 0;
}
section {
  min-height: 600px;
  padding: 100px 0;
}
gallery-box {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 650px;
  overflow:hidden;
}

.gallery-box .gallery-box-caption {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  opacity: 0;
  background: rgba(44,44,44,.8);
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

.gallery-box .gallery-box-caption .gallery-box-content{
  position: absolute;
  top: 100%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
}

.gallery-box:hover .gallery-box-caption {
  opacity: 1;
}

.gallery-box:hover img {
  height: 100%;
  width: 100%;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.gallery-box img {
  height:100%;
  width:100%;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.no-gutter > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.btn-default {
  border-color: #fff;
  color: #222;
  background-color: #fff;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}
.bg-primary {
  background-color: #333;

}

.content {
  position: absolute;
  color:white;
  left: 100px;
  top: 150px;

}

.howto-step {
  display:flex;
}
.project.resume {
  position:relative;

}
.project {
  background-size:cover:
  background-position: center center;
  overflow:hidden;
}
.project-overlay {
  position:absolute;
  display:block;
}

#images{
  padding-top: 45px;
}

#images1{
  padding-top: 45px;
}

/*overflow page*/
.parallax {
  /* The image used */
  /* background-image: url("image/work.jpg");*/

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.textme {
  padding-top:45px;
  padding-bottom: 20px;
  font-size:24px;
  font-weight:200;
}

/*arrow bounce*/
.fontaws {
 width: 60px;
 display: block;
 text-align: center;
 color:#353333;
 font:normal 45px 'FontAwesome';
 line-height:60px;
 text-rendering: auto;
 -webkit-font-smoothing: antialiased;
}
.fa-angle-double-down:before {content: "\f103";
 color:#f3efef;
}

.chevron-link:hover {
  text-decoration: none;
}

.bounce {
 position: absolute;
 margin-top: 30px;
 bottom: 30px;
 left: 50% ;
 width: 60px;
 height: 60px ;
 margin-left:-30px;
 border: 2px solid #f3efef;
 -webkit-border-radius:50%;
 -moz-border-radius:50%;
 -ms-border-radius:50%;
 border-radius:50%;
 animation: bounce 2s infinite;
 -webkit-animation: bounce 2s infinite;
 -moz-animation: bounce 2s infinite;
 -o-animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
 40% {-webkit-transform: translateY(-30px);}
 60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
 40% {-moz-transform: translateY(-30px);}
 60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
 40% {-o-transform: translateY(-30px);}
 60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-30px);}
 60% {transform: translateY(-15px);}
}

.avatar {
  width: 30px;
  border-radius: 50%;
}
.avatar-large {
  width: 50px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 30px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 30px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

/*padding text about me*/
.paddy {
  padding-top:79px;
}

/*div 3*/
.greenpage {
  background-color: #348594;
  padding-top:45px;
  padding-bottom: 20px;
  font-size:18px;
  font-weight:100;

}
.banner1 {
  /*  background: url(startup.jpg) no-repeat;*/
  /*background-attachment: fixed;*/
  min-height: 400px;
  position: relative;
  overflow: hidden;
  /****************************************************
  * set the backround image to 100% width of the screen
  *****************************************************/
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.banner1 h1,
.banner1 p {
  color: white;
  font-size: 18px;
}
.howto-margin {
    padding-left: 20px;
    padding-right: 20px;
  margin-top: 35px;
  margin-bottom:40px;

}

.banner1 .row {
  margin-top: 60px;
}

/*stars*/
.glyphicon-star {
  font-size: 40px;
  color: #e67e22;
  &.half {
    position: relative;
    &:before {
      position: relative;
      z-index: 9;
      width: 47%;
      display: block;
      overflow: hidden;
    }
    &:after {
      content: '\e006';
      position: absolute;
      z-index: 8;
      color: #bdc3c7;
      top: 0;
      left: 0;
    }
  }
}
.no-bullets {
  list-style-type: none;
}

.span-style {
  display: inline-block;
  width: 77%;
}

.rating {
/*    float: right;
*/}

.flexy {
  display: flex;
}

/*stars*/

.skills-title {
  display: inline-block;
  width: 60%;
}
.fond{position:absolute;padding-top:85px;top:0;left:0; right:0;bottom:0;
 background-color:#00506b;}

 .grow .fa {
  color: #348594;
  transform: scale(1);
  transition: transform .2s ease-in-out;

}
.grow:hover .fa {
  transform: scale(1.2);
}

.fa-cog {
  color: black;
}

/*.pictureskills {
  background-image: url("../image/dots.jpg");
}*/

.bklas {
  text-decoration: none
}
/*profile*/
.ctrbutton {
    margin-left: 50px;
    margin-top: 10px;
}
.pictureborder {
  border: #348594 2px solid;
}
/*skills hart*/
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

/*footer*/
.banner2 {
  /*  background: url(startup.jpg) no-repeat;*/
  /*background-attachment: fixed;*/
  min-height: 300px;
  position: relative;
  overflow: hidden;
  /****************************************************
  * set the backround image to 100% width of the screen
  *****************************************************/
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

/*.banner2 h1,
.banner2 p {
  color: white;
  font-size: 15px;
}
.howto-margin {
  margin-top: 35px;
  margin-bottom:40px;
}

.banner2 .row {
  margin-top: 150px;
}*/

hr { background: #ddd; width: 90%; margin: 0 auto; height: 1px; display: inline-block; }
header { height: 10vh; }
section { min-height: 300px; }
.social-wrap { display: block; text-align: center; height: 35vh; position: absolute; bottom: 0px; width: 100%; background: #348594; min-height: 250px; -webkit-transition: background .5s ease-in-out; -moz-transition: background .5s ease-in-out; -ms-transition: background .5s ease-in-out; -o-transition: background .5s ease-in-out; transition: background .5s ease-in-out; }
.social-wrap h1 { font-size: 50px; color: #fff; margin-bottom: 20px; }
.social-wrap ul{ padding:0px;}
.social-wrap li { display: inline-block; padding: 0px 4px; font-size: 50px; }
.social-wrap li a { color: #fff; opacity: .7; }
.social-wrap li:hover a { color: #fff; opacity: 1; }
.social-wrap .heading { display: block }
.hide { display: none; }
.social-wrap.socialbg1 .heading,
.social-wrap.socialbg2 .heading,
.social-wrap.socialbg3 .heading,
.social-wrap.socialbg4 .heading { display: none; }
.socialbg1 { background: #2d8286; }
.socialbg2 { background: #ad6b77; }
.socialbg3 { background: #b2a75c; }
.socialbg4 { background: #b2a75c; }
.socialbg1 .text1, .socialbg2 .text2, .socialbg3 .text3, .socialbg4 .text4   { display: block }

/*hart*/
body, html {
  height: 100%;
  background: #fff;
  }

/*button*/
.blockparty {
   /* font-family: 'Varela Round', sans-serif;
    font-family: 'Gotham Rounded A', 'Gotham Rounded B', 'FFDINWebProMedium', Avenir, Helvetica Neue, Arial, sans-serif;*/
    font-weight: 400;
    font-style: normal;
    background: #ad6b77;
    color: white;
    text-transform: uppercase;
    display: block;
    border-radius: 0;
    font-size: 16px;
    padding: 25px 25px 21px 25px;
    line-height: 1.3;
    letter-spacing: 2px;
    white-space: normal;
    border: 0;
    outline: 0;
    transition: background 0.3s ease;
}
button, .blockparty {
    text-decoration: none;
}
.btn-blockparty:hover {
  opacity: 1;
  background: #2d8286;
  text-decoration: none;
  color: white;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 4px solid transparent;
    border-radius: 4px;

}


a {
    color: #000;
    text-decoration: none;
}
a, button, input[type="submit"] {
    transition: .2s linear;
    -moz-transition: .2s linear;
    -webkit-transition: .2s linear;
}
a {
    background: transparent;
}
a {
    color: #337ab7;
    text-decoration: none;
}

a {
    background-color: transparent;
}


  /*big button*/
.blockparty1 {
    font-weight: 400;
    font-style: normal;
    background: #ad6b77;
    color: white;
    text-transform: uppercase;
    display: block;
    border-radius: 0;
    font-size: 16px;
    padding: 25px 25px 21px 25px;
    line-height: 1.3;
    letter-spacing: 2px;
    white-space: normal;
    border: 0;
    outline: 0;
    transition: background 0.3s ease;
}
button, .blockparty1 {
    text-decoration: none;
}
.btn1-blockparty1:hover {
  opacity: 1;
  background: #2d8286;
  text-decoration: none;
  color: white;
}

.btn1 {
    display: inline-block;
    padding: 34px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 4px solid transparent;
    border-radius: 28px;

}


a {
    color: #000;
    text-decoration: none;
}
a, button, input[type="submit"] {
    transition: .2s linear;
    -moz-transition: .2s linear;
    -webkit-transition: .2s linear;
}
a {
    background: transparent;
}
a {
    color: #337ab7;
    text-decoration: none;
}

a {
    background-color: transparent;
}

.fontaws1 {

 width: 60px;
 display: block;
 text-align: center;
 color:#353333;
 font:normal 45px 'FontAwesome';
 line-height:60px;
 text-rendering: auto;
 -webkit-font-smoothing: antialiased;
}
.fa-angle-double-down:before {content: "\f103";
 color:#f3efef;
}

.chevron-link:hover {
  text-decoration: none;
}

.bounce {
 position: absolute;
 bottom: 30px;
 left: 50% ;
 width: 60px;
 height: 60px ;
 margin-left:-30px;
 border: 2px solid #f3efef;
 -webkit-border-radius:50%;
 -moz-border-radius:50%;
 -ms-border-radius:50%;
 border-radius:50%;
 animation: bounce 2s infinite;
 -webkit-animation: bounce 2s infinite;
 -moz-animation: bounce 2s infinite;
 -o-animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
 40% {-webkit-transform: translateY(-30px);}
 60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
 40% {-moz-transform: translateY(-30px);}
 60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
 40% {-o-transform: translateY(-30px);}
 60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-30px);}
 60% {transform: translateY(-15px);}
}
/*linkedin button*/

  .blockpartylink {
   /* font-family: 'Varela Round', sans-serif;
    font-family: 'Gotham Rounded A', 'Gotham Rounded B', 'FFDINWebProMedium', Avenir, Helvetica Neue, Arial, sans-serif;*/
    font-weight: 400;
    font-style: normal;
    background: #ad6b77;
    color: white;
    text-transform: uppercase;
    display: block;
    border-radius: 0;
    font-size: 16px;
    padding: 25px 25px 21px 25px;
    line-height: 1.3;
    letter-spacing: 2px;
    white-space: normal;
    border: 0;
    outline: 0;
    transition: background 0.3s ease;
}
button, .blockpartylink {
    text-decoration: none;
}
.btn-blockpartylink:hover {
  opacity: 1;
  background: #2d8286;
  text-decoration: none;
  color: white;
}

.btnlink {
   margin-left: 49px;
    margin-top: 20px;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 4px solid transparent;
    border-radius: 4px;

}


a {
    color: #000;
    text-decoration: none;
}
a, button, input[type="submit"] {
    transition: .2s linear;
    -moz-transition: .2s linear;
    -webkit-transition: .2s linear;
}
a {
    background: transparent;
}
a {
    color: #337ab7;
    text-decoration: none;
}

a {
    background-color: transparent;
}

.paddingbot {
  padding-bottom:30px;
}
.paddingsticktoit {
      padding-left: 404px;
}

/*arrow*/
.arrow {
  text-align: center;
  margin: 8% 0;
}
.bounce1 {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.fa-arrow-down:before {
    content: "\f063";
    color:#ad6b77;
}
